*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ebc6c6;
    font-family: 'Kreon', serif;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 150px 0px 100px;
}

.login img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    position: relative;
    bottom: 10px;
    left: 40px;
}

.login button{
    position: relative;
    bottom: 65px;
    height: 35px;
    width: 120px;
}

.login a{
    font-size: 23px;
}

.nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: purple;
}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 100px;   
    margin-top: 15px;
}

.page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -40px;
    width: 100%;
}

.left img{
    height: 750px;
    transform: scaleX(-1);
    width: 90%;
}

.right{
    height: 450px;
    margin-top: 200px;
    width: 50%;
}

h3{
    color: purple;
    font-weight: normal;
    font-size: 45px;
}

p{
    font-size: 22px;
    margin-top: 60px;
    color: rgba(49, 2, 49, 0.849);
}

button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

h4{
    font-size: 18px;
    color: white;
    font-weight: normal;
}

span{
    color:purple;
    font-size:25px;
    font-weight: 500;
}

.left{
    width: 50%;
}

button{
    height: 45px;
    width: 180px;
    border-radius: 5px;
    border: none;
    background-color:purple;
    margin: 80px 40px 0px 0px;
    padding: 5px;
}

a button{
    color: white;
    font-size: 19px;
}

.menu{
    display: none;
}


 
@media only screen and (max-width: 420px)
{

    .login .nav{
        display: none;
    }

    .menu{
        display: block;
        margin-left: 220px;
        font-size: 30px;
        position: relative;
        color: rgba(49, 2, 49, 0.849);
    }

    .login img{
        height: 60px;
        width: 60px;
        margin-left: -120px;
    }

    .login button {
        display: none;
    }

    .left img{
        width: 180%;
        height: 90%;
        margin-top: 10vh;
        margin-left: 3vh;
    }

    .page{
        display: block;        
    }

    .right{
        margin: 10% 3%;
        height: auto;
        width: auto;
     }

     .right {
        margin-top: 8%;
        margin-left: 4vh;
     }

     .get{
        height: 35px;
        width: 150px;
        margin-top: 5vh;
        margin-left: 10vh;
     }

     .menu-list{
        width: 150px;
        z-index: 111;
        height: auto;
        color: rgba(49, 2, 49, 0.849);
        position: absolute;
        top: 38px;
        left: -7px;
        display: none;
     }

     .menu-list ul li {
        list-style: none;
        background-color: purple;
     }

     .menu-list ul li a {
        text-decoration: none;
        color: white;
     }

    .menu:hover .menu-list{
        display: block;
    }

}